:root {

    /* Dark */
  
    --background: #1C1B41;
    --color-text-primary: #ABC3DF;
    --color-text-secondary: #427AA1;
    --color-one: #EBF2FA;
    --color-two: #EC6363;
    --hover: #474564 25%;
  
    /* Light
    --background: #EBF2FA;
    --color-text-primary: #1C1B41;
    --color-text-secondary: #427AA1;
    --color-one: #EBF2FA;
    --color-two: #EC6363;
    --hover: #ABC3DF; */
  }
  
  body {
    background: var(--background);
    line-height: 1.4;
    transition: all 0.5s;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font: 500 15px Abel;
  }
  
  /* Header */
  
  .hills-header-styles {
    user-select: none;
    padding: 1.5rem;
  }
  
  .cont-stalys-h01 a {
    fill: var(--color-text-secondary);
  }
  
  .cont-stalys-h01 a:hover {
    fill: var(--color-text-primary);
    transition: 0.5s;
  }
  
  html {
    display: -moz-box;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    padding: 40px 0;
  }
  
  body {
    width: 736px;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
  }
  
  .hills-header-styles, .hills-main-styles {
    margin: 0 25px;
  }
  
  /* Calc - Styles */
  
  .container {
    width: 100%;
    height: 100%;
    user-select: none;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
  }
  
  td {
    font-size: 2em;
    padding: 0.7em;
    text-align: center;
    cursor: default;
    transition: 0.2s;
  }
  
  td:hover {
    background: var(--hover);
    transition: 0.5s;
    border-radius: 5px;
  }
  
  #compout {
    padding: 16px 10px;
    width: 100%;
    border: 0;
    font-size: 2rem;
    background: var(--background);
    color: var(--color-text-primary);
    text-align: right;
  }
  
  #useinp {
    padding: 16px 10px;
    width: 100%;
    border: 0;
    font-size: 2rem;
    background: var(--background);
    text-align: right;
    color: var(--color-text-secondary) !important;
  }
  
  .vary, .line01, .line01 img {
    color: var(--color-text-secondary) !important;
  }
  
  .line02, .line03, .line04, .line05 {
    color: var(--color-text-primary);
  }
  
  .reset {
    color: var(--color-two);
  }
  
  table {
    margin-top: 20px;
  }
  
  #compout {
    margin-top: 7px;
  }
  
  #useinp {
    font-size: 23px;
  }